<div class="container marketing">
	<div class="row">
	<div class="col-lg-6">
          <h1>Applikations udvikling</h1>
    <p>Vi udvikler applikationer og software med fokus på kavlitet og tilfredse kunder. Vi udvikler både bakend og frontend, mobile applikationer, responsive web sites og web applikationer som fungerer på mobil, ipad og desktop. Vi arbejder også med integration af data fra forskelige systemer og kilder. F.eks. har vi udviklet analyse software der indsamler positions data fra websider og databaser som efterfølgende laver advanceret analyser af de indsamlede data.
	</p><p>
      Vi benytter os gerne af moderne værktøjer så som Node.js, Angular, Bootstrap, Mongo DB, Docker, mf. Men vi har også et stort kendskab til Java, PHP, SQL mf. 
	</p>
	</div>
	<div class="col-lg-6">
<h2>Hvad koster en mobil app, website eller applikation?</h2>
      Det er svært at give en endelig pris førend projektet er ordentligt belyst og de endelige krav er klarlagt. Der kan være meget store foskelle i pris alt afhængig af kravne til applikationen. En meget simple webside som kun viser statisk indhold og hvor designet ligger klar koster fra nogle tusinde kr. Men en foretningsapplikation der skal håndterer brugere, betalinger, integrerer med andre systemer samt udvikles både som web applikation og mobil app til ios og Android kan nemt koste mere end 100.000 kr. Derfor råder vi jeg til at kontakte os for en uforpligtende samtale om projektet så kan vi give en ide om hvor niveauet ligger for lige netop jeres applikation.</p><br>
</div>
</div>
</div>

<script>
ga('send', 'pageview', '/applikation');
</script>