<div class="container marketing">
	<div class="row">
	<div class="col-lg-3">
			<h1>Udviklings processen</h1>
			Alt afhængig af opgavens størelse deler vi projektet op i 4 faser.
			<ul>
				<li>Design</li>
				<li>Udvikling</li>
				<li>Test</li>
				<li>Overlevering</li>
			</ul>
			</div>
			<div class="col-lg-3">
			<h2>Design</h2>
			Design fasen har til formål at få afklaret alle nødvendige detaljer omkring produktet. Nogle gange har kunden allerede en helt klart ide om hvordan en app skal fungerer og se ud. Dette gør at processen går hurtigere. Men ofte er der brug for at få afklaret flere detaljer. F.eks. skal der tegnes <a href="https://en.wikipedia.org/wiki/Website_wireframe">wireframes</a>. Og hvis det er en app der har meget bruger inteaktion er det specielt vigtigt med <a href="https://da.wikipedia.org/wiki/Use_case">use cases</a>.<br></div> 
			<div class="col-lg-3">
				<h2>Udvikling og test</h2>
				Når kunden er tilfreds med designet går vi igang med udviklingen og når produktet er færdigt tester vi systemet for at sikre at alt fungerer som det skal og at det lever op til aftalte krav.
			</div>
			<div class="col-lg-3">
				<h2>Overleveringen</h2>
				Ved Overleveringen gennemgår vi produktet med jer og i får lejlighed til at vurderer det endelige produkt. Her vil der ofte være flere små justeringer som vi efterfølgende ændre.
			</div>
		</div>
	</div>
	<script>
		ga('send', 'pageview', '/processen');
	</script>

